.qasmCode {
  background-color: var(--darkgrey) !important;
}

.CircuitEditor-container {
  border-bottom: #333 1px solid;
  margin: var(--m) 2em;
  padding: 10px 20px;
}

.CircuitEditor-container:first-of-type {
  margin-top: var(--l);
}

.CircuitEditor-score {
  color: #C078FF;
}

.CircuitEditor-container h1 {

  font-size: 22px;
  color: var(--white);

}

.CircuitEditor-container h1.canEdit:hover {
  color: var(--alt-primary);
  cursor: pointer;
}

.CircuitEditor-container h2 {

  font-size: 18px;
  color: var(--grey);
  margin-bottom: 2em;

}

.CircuitEditor-container h2.canEdit:hover {
  color: var(--alt-primary);
  cursor: pointer;
}

.CircuitEditor-container h5 {

  font-size: 16px;
  margin-top: 0px;
  display: inline-block;
  margin-right: 2em;

}

.CircuitEditor-container h5 div {
  font-size: 16px;
  margin-top: 0px;
  display: inline-block;
}

.CircuitEditor-container h5 .icon{
  margin-right: 0.5em;
}

.CircuitEditor-container textarea {
  resize: none;
  border: none;
  outline: none;
  color: rgb(171, 178, 191);
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  width: 100%;
  height: inherit;
  padding: 0.5em;
}

.CircuitEditor-container .qcFlex {
  justify-content: space-between;
  display: flex;
  margin: 2em 5px;
}

.CircuitEditor-container .qcFlex h2 {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px;
}

.spaceButtonsOut .NewCircuit-button {
  margin-left: 10px;
}

.CircuitEditor-container .actions {
  margin: 2em;
}

.titleField {
  font-size: 22px;
}

.descField {
  font-size: 18px;
}

.circuitPreviewImage {
  width: 100%;
  background-color: black;
  max-height: 50vh;
  object-fit: contain;
  object-position: left;
}

.simulationMessage {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

@media only screen and (max-width: 1000px) {

  .CircuitEditor-container {
    border-bottom: #333 1px solid;
    margin: 0px 1em;
    padding: 0px;
  }

  .CircuitEditor-container:first-of-type {
    margin-top: 0px;
  }

  .CircuitEditor-container .actions {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .spaceButtonsOut .NewCircuit-button {
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    margin-bottom: 0.5em;
    text-align: center;
  }

  .simulationMessage {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  .simulationBlock svg {
    margin-right: 0em !important;
  }

  .CircuitEditor-container .qcFlex {
    display: inline-block;
    width: 100%;
  }

  .CircuitEditor-container .qcFlex .NewCircuit-button {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0.5em;
  }

}
