/* Fill me in :) */

canvas {

  height: 90vh;

}

canvas.horizontal {

  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50vw;
  max-height: 90vh;

}
