.intro .banner {
  height: 40vh;
  background: url(https://d2r55xnwy6nx47.cloudfront.net/uploads/2019/07/QuantumSupremacy-1200x630_Social.jpg) black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 60% 0%;
  position: relative;
  min-height: 150px;
  margin-top: -3em;
}

.intro .banner h1 {
  color: white;
  max-width: 10em;
  margin: 0px 2em;
  position: absolute;
  bottom: 1em;
  left: 0;
}

.intro h2 {
  margin: 2em;
  font-size: 1.5em;
  margin-bottom: 1.5em;
  margin-top: 2.5em;
}

.intro p {
  margin: 5em;
  margin-top: 0px;
  margin-bottom: 1.1em;
  font-size: 1.2em;
  line-height: 2em;
  text-align: justify;
}

.logInBanner {
  background-color: #ee5253;
  margin: 0px;
  margin-top: -3em;
  margin-bottom: 3em;
  height: 2em;
  padding-top: 0.5em;
  line-height: 1.5em;
  text-align: center;
  cursor: pointer;
}

.logInBanner.mobile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .intro p {
    margin-left: 2em;
    margin-right: 2em;
  }
  .intro h2 {
    margin-left: 1em;
    margin-right: 1em;
  }

  .logInBanner.mobile {
    display: block;
  }
  .logInBanner {
    display: none;
  }

  .intro .banner h1 {
    color: white;
    max-width: 10em;
    margin: 0px 1em;
    position: absolute;
    bottom: 1em;
    left: 0;
  }
}
