.qcTitleP {
  display: inline-block;
  vertical-align: middle;
}

.qcFlexP {
  justify-content: space-between;
  display: flex;
  margin: 0px 2em;
}

@media only screen and (max-width: 1000px) {
  .qcFlexP {
    margin: 10px 2em;
    display: block;
  }
  .qcFlexP .NewCircuit-button {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0.5em;
  }
}
