.Challenge-container {
  margin-left: 6em;
  margin-right: 2em;
  margin-bottom: 2em;
}

.Challenge-container .action_buttons {
  display: block;
  text-align: right;
}

.Challenge-container .status {
  font-size: 1.5em;
  display: inline-block;
  margin-right: 1em;
  transform: translateY(0.1em);
}

.challengeAction {
  margin-right: 10px;
}

@media only screen and (max-width: 1000px) {
  .Challenge-container {
    margin-left: 2em;
    margin-right: 2em;
  }

  .Challenge-container .status {
    font-size: 1.2em;
    margin-right: 0.5em;
  }

  .Challenge-container .action_buttons {
    display: flex;
    flex-direction: column-reverse;
  }

  .Challenge-container .action_buttons div {
    margin-top: 1em;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  .challengeAction {
    margin-right: 0px;
  }
}
