.Circuit-container {
  border-bottom: #333 1px solid;
  margin: var(--m) 2em;
  padding: 10px 20px;
}

.Circuit-container:first-of-type {
  margin-top: var(--l);
}

.Circuit-score {
  color: #C078FF;
}

.Circuit-container h1 {

  font-size: 22px;
  color: var(--alt-primary);

}

.Circuit-container h1:hover {
  color: var(--primary);
  cursor: pointer;
}

.Circuit-container h2 {

  font-size: 18px;
  color: var(--grey);
  margin-bottom: 2em;

}

.Circuit-container h5 {

  font-size: 16px;
  margin-top: 0px;
  display: inline-block;
  margin-right: 2em;

}

.Circuit-container h5 div {
  font-size: 16px;
  margin-top: 0px;
  display: inline-block;
}

.Circuit-container h5 .icon{
  margin-right: 0.5em;
}

.Circuit-container a.creatorLink, .Circuit-container a.creatorLink.visited {
  text-decoration: none;
  color: white;
}

.Circuit-container a.creatorLink:hover {
  text-decoration: none;
  color: var(--primary);
}

@media only screen and (max-width: 1000px) {
  .Circuit-container {
    padding: 0.2em 1em;
    margin: 0px;
    margin-top: 1em;
  }

  .Circuit-container h1 {
    font-size: 18px;
  }

  .Circuit-container h2 {
    font-size: 16px;
  }

  .Circuit-container h5 {
    font-size: 11px;
  }

  .Circuit-container h5 div {
    font-size: 11px;
  }
}
