.logicContainer {

  display: inline-block;
  margin: 0 2em;
  vertical-align: top;
  flex-grow: 1;

}

.first-half {

  display: inline-block;

}

.gate {

  background-color: white;
  color: black;
  font: monospace;
  font-size: 2.5em;
  text-align: center;
  padding-top: 0.3em;
  padding-bottom: 0.7em;
  height: 1em;
  width: 2em;
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  margin: 0.25em 0.5em;

}

.gate.x  { background-color: #4A90E2; color: white; }
.gate.h  { background-color: #F5A623; color: white; }
.gate.cx { background-color: #D0021B; color: white; }
.gate.i { background-color: black; color: white; }
.gate.cursor { background-color: #b2bec3; color: rgba(0,0,0,0)}

.gateContainer {

  width: 28em;
  padding: 0 1em;
  text-align: center;

}

.wires {
  /* overflow-x: scroll; */
}

.wire {

  width: 100%;
  height: 5em;
  padding-bottom: 1em;
  position: relative;
  white-space: nowrap;

}

.wire::before {

  content: '';
  position: absolute;
  top: 50%;
  border-top: 1px solid white;
  background: black;
  width: 100%;
  z-index: -1;

}

.logicContainer h3 {
  color: var(--grey);
}

.keyboardControls p {
  display: inline-block;
  width: 33%;
  font-size: 0.8em;
}

.keyboardControls p .icon {
  margin-right: 0.5em;
}

.keyboardControls p b.icon {
  width: 1.3em;
  height: 1.3em;
  display: inline-block;
  background-color: white;
  color: var(--darkgrey);
  text-align: center;
  border-radius: 0.3em;
  padding: 0px;
}

.gameContainer .Loading-container {
  margin-top: 15vh;
}

.gameContainer .circuitPreview {
  display: block;
  width: 100%;
  height: 40vh;
  object-fit: contain;
  object-position: left;
  background-color: black;
}

@media only screen and (max-width: 1000px) {
  .gameContainer .circuitPreview {
    display: none;
  }
}
