.CircuitSmall-container {
  /* border-bottom: #333 1px solid; */
  margin: var(--m) 2em;
  padding: 1% 2%;
  width: 40%;
  margin: 0;
  margin-left: 5%;
  margin-right: -2.9%;
  margin-bottom: 2%;
  display: inline-block;
  background-color: var(--darkgrey);
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: 0.2s;
}

.CircuitSmall-container:first-of-type {
  margin-top: var(--l);
}

.CircuitSmall-score {
  font-weight: bold;
}

.CircuitSmall-container h1 {

  font-size: 1.2em;
  color: var(--white);
  transition: 0.2s;

}

.CircuitSmall-container:hover {
  background-color: #111;
}

.CircuitSmall-container:hover h1 {
  color: var(--primary);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.CircuitSmall-container h2 {

  font-size: 1.1em;
  color: var(--grey);
  margin-bottom: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

}

.CircuitSmall-container h5 {

  font-size: 1.1em;
  margin-top: 0px;
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 0.5em;

}

.CircuitSmall-container h5 div {
  font-size: 1.1em;
  margin-top: 0px;
  display: inline-block;
}

.CircuitSmall-container h5 .icon{
  margin-right: 0.5em;
}

.CircuitSmall-container a.creatorLink, .CircuitSmall-container a.creatorLink.visited {
  text-decoration: none;
  color: white;
}

.CircuitSmall-container a.creatorLink:hover {
  text-decoration: none;
  color: var(--primary);
}

.CircuitSmall-container.selected {
  background-color: var(--primary);
  color: white;
}

.CircuitSmall-container.selected h2 {
  color: white;
}

.CircuitSmall-container.selected:hover h1 {
  color: white;
}

.CircuitSmall-container.small {
}

.CircuitSmall-container.small h1 {
  font-size: 1.5em;
  height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.CircuitSmall-container.small h2 {
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 2.5em;
  margin-bottom: 1em;
}

.CircuitSmall-container.small h5 {
  font-size: 1em;
  display: block;
  margin-bottom: 1em;
}

.CircuitSmall-container.small h5 div {
  font-size: 1em;
}

@media only screen and (max-width: 1000px) {
  .CircuitSmall-container {
    width: 80%;
    padding: 2% 5%;
    margin-bottom: 1em;
  }
}
